<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ( {{ email }}). Se você não foi o autor dessa requisião, seria interessante alterar sua senha. </p>

<p>Para continuar a recuperação da senha, utilize o token <strong>{{ token }}</strong> ou clique no link abaixo: </p>

<a href="{{ link }} "> Criar nova senha</a>
